<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" showDetail="true" />
	<h:form>
		<p:commandButton value="Show" process="@form" update="form:panelLogin"
			actionListener="#{pollBean.mostra}" />
		<p:commandButton value="Hide" process="@form"
			uupdate="form:panelLogin" actionListener="#{pollBean.nascondi}" />

	</h:form>
	<h:form id="form">

		<p:poll interval="3" update="myForm:tabella" process="@this" />
		<p:panel id="panelLogin" closable="true" toggleable="true"
			rendered="#{not pollBean.viewPanel}" header="Login panel"
			widgetVar="wgPanelLogin" visible="false">

			<p:panelGrid columns="3" closable="true">

				<p:inputText id="login" value="#{pollBean.username}" required="true"
					requiredMessage="Username obbligatoria!" />

				<p:commandButton value="Login" process="@form"
					update="myForm:tabella, growl, myForm, form"
					actionListener="#{pollBean.showPanel()}"
					rendered="#{not pollBean.viewPanel}">
				</p:commandButton>
				<p:message for="login" />
			</p:panelGrid>

		</p:panel>
	</h:form>

	<h:form>
	</h:form>
	<h:form id="myForm">
		<p:panel id="panel" widgetVar="wgPanel" visible="false"
			closable="true" toggleable="true">

			<p:dataTable id="tabella" rendered="#{pollBean.viewPanel}" var="iter"
				value="#{pollBean.tabellaRefreshBean.lstElements}">
				<p:column headerText="Item">
					<p:outputLabel value="#{iter}" />
				</p:column>
			</p:dataTable>


			<p:inputText id="campo" value="#{pollBean.field}"
				rendered="#{pollBean.viewPanel}" />
			<p:commandButton process="@form" value="Add" update="campo, tabella"
				actionListener="#{pollBean.aggiungiItem}"
				rendered="#{pollBean.viewPanel}">
			</p:commandButton>
			<f:facet name="options">
				<p:menu>
					<p:submenu label="Settings">
						<p:menuitem value="Toggle" url="#" icon="ui-icon-newwin"
							onclick="PF('wgPanel').toggle()" />
						<p:menuitem value="Remove" url="#" icon="ui-icon-close"
							onclick="PF('wgPanel').close()" />
					</p:submenu>
				</p:menu>
			</f:facet>

		</p:panel>
	</h:form>


</h:body>
</html>