<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputStylesheet name="foglio.css" library="css"></h:outputStylesheet>
</h:head>

<h:body>
	<h:form id="form">
		<p:panel id="panelLayout" header="Login page">
		<p:panelGrid id="loginPanel" columns="3" style="margin:0 auto;">
			<p:outputLabel value="Username" />
			<p:inputText id="username"  value="#{loginBeanMail.username}" required="true"
				requiredMessage="Campo necessario" />
			<p:message for="username" />
			<p:outputLabel value="Password" />
			<h:inputSecret id="password"  value="#{loginBeanMail.password}" required="true"
				requiredMessage="Campo necessario" />
			<p:message for="password" />
			<p:commandButton value="login" process="@form" update="loginPanel" action="mailpage"/>
			<h:commandLink value="SignIn"  action="registrazione" immediate="true" />
		</p:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>