<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
	<h:outputStylesheet name="foglio.css" library="css"></h:outputStylesheet>
</h:head>

<h:body>
	<h:form id="formLogout">
		<div style="float: right; display: block;">
			<p:outputLabel value="Benvenuto #{loginBeanMail.username}"
				style="font-size:20px; color:red; font-wight:bold" />
			<p:commandButton action="loginemail" process="@form"
				icon="ui-icon-circle-close" value="Logout" id="logout" />
		</div>
	</h:form>
	<p:growl id="growl" showDetail="true" sticky="true" />

	<p:panel id="panelEmail" header="Benvenuto #{loginBeanMail.username}"
		style="clear:both;">

		<p:tabView id="mailtab">

			<p:tab id="tabPosta" title="POSTA ELETTRONICA">

				<h:form id="formPostaChat">
					<p:layout id="layout" style="min-width:400px;min-height:400px;">

						<p:layoutUnit position="west" resizable="true" size="400"
							minSize="40" maxSize="500">


							<p:commandLink value="Posta in arrivo" process="@this"
								actionListener="#{mailBean.ricevute}"
								update="layout, dialogMailView" />
							<p:separator />
							<p:commandLink value="Posta inviata" process="@this"
								actionListener="#{mailBean.inviate}" update="layout" />
							<p:separator />
							<p:commandLink value="Scrivi mail"
								actionListener="#{mailBean.send}" process="@this"
								update="layout" />
							<p:separator />

							<div style="bottom: 0;"></div>
						</p:layoutUnit>

						<p:layoutUnit position="center" closable="true" id="posta">
							<p:dataTable id="mailRicevute" var="mail"
								value="#{mailBean.lstRicevute}"
								rendered="#{mailBean.ricevuteCheck}">
								<p:column>
									<p:selectBooleanCheckbox value="#{mail.flag}">
										<p:ajax event="change" update="@form"
											listener="#{mailBean.ordinaPriorita(mail)}">
										</p:ajax>
									</p:selectBooleanCheckbox>


								</p:column>
								<p:column headerText="Indirizzo">
									<h:outputText value="#{mail.indirizzo}" />
								</p:column>
								<p:column headerText="Contenuto">
									<h:outputText value="#{mail.testo}" />


								</p:column>
								<p:column headerText="Ricevuta il">
									<p:outputLabel value="#{mail.dataRicezione}">
										<f:convertDateTime pattern="dd/MM/yyyy" />
									</p:outputLabel>

								</p:column>
								<p:column style="width:32px;text-align: center">
									<p:commandButton oncomplete="PF('wgMailView').show()"
										icon="ui-icon-search" title="View" process="@form"
										update="@form">
										<f:setPropertyActionListener value="#{mail}"
											target="#{mailBean.mailSelected}" />
									</p:commandButton>
								</p:column>
							</p:dataTable>

							<p:dataTable var="mail" value="#{mailBean.lstInviate}"
								rendered="#{mailBean.inviateCheck}">
								<p:column headerText="Indirizzo">
									<h:outputText value="#{mail.indirizzo}" />
								</p:column>
								<p:column headerText="Contenuto">
									<h:outputText value="#{mail.testo}" />

								</p:column>

								<p:column style="width:32px;text-align: center">
									<p:commandButton oncomplete="PF('wgMailView').show()"
										icon="ui-icon-search" title="View" process="@form"
										update="@form">
										<f:setPropertyActionListener value="#{mail}"
											target="#{mailBean.mailSelected}" />
									</p:commandButton>
								</p:column>

							</p:dataTable>
						</p:layoutUnit>
					</p:layout>

					<p:dialog header="Send mail" widgetVar="wgDialogMail" modal="true"
						width="500" height="400" closable="true">
						<p:panelGrid id="myPanel" columns="1">
							<p:outputLabel value="destinatario" />
							<p:inputText value="#{mailBean.destinatario}" />
							<p:inputTextarea rows="10" cols="20"
								value="#{mailBean.contenuto}">
							</p:inputTextarea>
							<p:commandButton value="Invia"
								actionListener="#{mailBean.sendMail}" update="formPostaChat"
								process="myPanel" />
						</p:panelGrid>
					</p:dialog>
					<p:dialog header="View mail" id="dialogMailView"
						widgetVar="wgMailView" modal="true" width="500" height="500"
						closable="true">
						<p:panelGrid columns="2">
							<p:outputLabel value="Destinatario" />
							<p:outputLabel value="#{mailBean.mailSelected.indirizzo}" />
							<p:outputLabel value="Testo" />
							<p:outputLabel value="#{mailBean.mailSelected.testo}" />



						</p:panelGrid>



					</p:dialog>


				</h:form>
				<h:form>
					<p:panel id="myPanel">
						<p:commandButton id="chatLink" value="View chat"
							icon="ui-icon-contact" onclick="PF('wgChat').show();" />

						<p:dialog id="panel" header="CHat mail" widgetVar="wgChat"
							modal="true" showEffect="clip" width="500" height="400"
							closable="true">

							<p:dataTable id="tabellaChat" var="iter"
								value="#{mailBean.lstChatMessage}">
								<p:column headerText="Chat message">
									<p:outputLabel value="#{iter}" />
								</p:column>
							</p:dataTable>


							<p:inputText id="campo" required="true"
								requiredMessage="Campo obbligatorio"
								value="#{mailBean.chatMessage}" />
							<p:message for="campo" showDetail="true" showSummary="true" />



							<p:commandButton process="@form" value="Add"
								update="campo, tabellaChat"
								actionListener="#{mailBean.sendMessageChat}">
							</p:commandButton>
							<p:separator />
							<p:commandButton value="Close chat" process="@form"
								actionListener="#{mailBean.closeChat}" update="panel, campo" />

						</p:dialog>
					</p:panel>
				</h:form>

			</p:tab>
			<p:tab title="SPAM">
				<h:form>
					<p:dataTable var="mail" value="#{mailBean.lstSpam}">

						<p:column headerText="Indirizzo">
							<h:outputText value="#{mail.indirizzo}" />
						</p:column>

						<p:column headerText="Messaggio">
							<h:outputText value="#{mail.testo}" />
						</p:column>

						<p:column style="width:32px;text-align: center">
							<p:commandButton oncomplete="PF('dialogMailViewSpam').show()"
								icon="ui-icon-search" title="View" process="@form"
								update="@form">
								<f:setPropertyActionListener value="#{mail}"
									target="#{mailBean.mailSelected}" />
							</p:commandButton>
						</p:column>

					</p:dataTable>

					<p:dialog header="View mail" id="dialogMailViewSpam"
						widgetVar="dialogMailViewSpam" modal="true" width="500"
						height="500" closable="true">
						<p:panelGrid columns="2">
							<p:outputLabel value="Destinatario" />
							<p:outputLabel value="#{mailBean.mailSelected.indirizzo}" />
							<p:outputLabel value="Testo" />
							<p:outputLabel value="#{mailBean.mailSelected.testo}" />



						</p:panelGrid>



					</p:dialog>

				</h:form>

			</p:tab>
			<p:tab title="SOCIAL NEWS">
				<ol>
					<ui:repeat var="mail" value="#{mailBean.lstSocial}">
						<li><h:outputText value="#{mail}" /></li>

					</ui:repeat>
				</ol>

			</p:tab>


		</p:tabView>
	</p:panel>

	<h:form>
		<p:poll interval="300" process="@none" update="ads"
			oncomplete="PF('wgAds').show();" />

		<p:dialog id="ads" widgetVar="wgAds" modal="true" width="500"
			height="500" closable="true">
			<p:graphicImage id="immagine" url="#{popupBean.url}" />

		</p:dialog>
	</h:form>

</h:body>
</html>