<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" showDetail="true" sticky="true" />

	<h:form id="form1">
		<p:panel header="Filter data">
			<p:panelGrid columns="2">
				<p:outputLabel value="Data da" />
				<p:calendar id="calendar1" value="#{filterData.dataDa}"
					pattern="dd/MM/yyyy" mask="true">
					<!-- 					<f:convertDateTime pattern="dd/MM/yyyy"/> -->

				</p:calendar>
				<p:outputLabel value="Data a" />
				<p:calendar id="calendar2" value="#{filterData.dataA}"
					pattern="dd/MM/yyyy" mask="true">
					<!-- 					<f:convertDateTime pattern="dd/MM/yyyy"/> -->
				</p:calendar>
				<p:commandButton update="@form,panelTable" process="@form"
					actionListener="#{filterData.filter()}" value="Filter" />
			</p:panelGrid>
		</p:panel>
	</h:form>
	<p:panel>
		<p:dataTable id="panelTable" var="utente"
			value="#{filterData.lstFilter}" rows="5" paginator="true"
			paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
			rowsPerPageTemplate="5,10,15">
			<p:column headerText="Nome" sortBy="#{utente.nome}">
				<h:outputText value="#{utente.nome}" />
			</p:column>
			<p:column headerText="Cognome" sortBy="#{utente.cognome}">
				<h:outputText value="#{utente.cognome}" />
			</p:column>
			<p:column headerText="Indirizzo" sortBy="#{utente.indirizzo}">
				<h:outputText value="#{utente.indirizzo}" />
			</p:column>
			<p:column headerText="Sesso" sortBy="#{utente.sesso}">
				<h:outputText value="#{utente.sesso}" />
			</p:column>
			<p:column headerText="Data">
				<h:outputText value="#{utente.data}">
					<f:convertDateTime pattern="dd/MM/yyyy" />
				</h:outputText>
			</p:column>

			<p:column>
				<p:commandButton update=":form2:userDetail"
					oncomplete="PF('userDetail').show()" icon="ui-icon-search"
					title="View">
					<f:setPropertyActionListener value="#{utente}"
						target="#{filterData.utenteSelected}" />
					<f:setPropertyActionListener value="#{utente}"
						target="#{filterData.user}" />
				</p:commandButton>
			</p:column>
		</p:dataTable>
		<h:form id="form2">
			<p:dialog header="User info" widgetVar="userDetail" modal="true"
				showEffect="fade" hideEffect="fade" resizable="false">
				<p:outputPanel id="userDetail" style="text-align:center;">
					<p:panelGrid columns="2"
						rendered="#{not empty filterData.utenteSelected}"
						columnClasses="label,value">

						<p:outputLabel value="Nome:" />
						<p:inputText value="#{filterData.utenteSelected.nome}" />

						<p:outputLabel value="Cognome:" />
						<p:inputText value="#{filterData.utenteSelected.cognome}" />

						<p:outputLabel value="Indirizzo:" />
						<p:inputText value="#{filterData.utenteSelected.indirizzo}" />

						<p:outputLabel value="Sesso:" />
						<p:selectOneMenu id="gender"
							value="#{filterData.utenteSelected.sesso}">
							<f:selectItem itemValue="Maschio" itemLabel="Maschio" />
							<f:selectItem itemValue="Femmina" itemLabel="Femmina" />
							<f:selectItem itemValue="Dubbio" itemLabel="Dubbio" />
						</p:selectOneMenu>

						<p:outputLabel value="Data:" />
						<p:calendar id="calendar3"
							value="#{filterData.utenteSelected.data}" pattern="dd/MM/yyyy"
							mask="true">
							<!-- 					<f:convertDateTime pattern="dd/MM/yyyy"/> -->

						</p:calendar>
						<p:commandButton update="panelTable"
							actionListener="#{filterData.update()}" process="@form"
							value="Update" 
				
							/>
					</p:panelGrid>
				</p:outputPanel>
			</p:dialog>
		</h:form>
	</p:panel>






</h:body>
</html>