<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" showDetail="true" sticky="true" />

	<h:form id="form1">
		<p:panel id="utentePanel" header="Form utente">
			<p:panelGrid id="utentePanelGrid" columns="3">
				<p:outputLabel value="Nome" />
				<p:inputText id="nome" value="#{utenteBean.nome}" required="true"
					requiredMessage="Campo Nome necessario">
				</p:inputText>
				<p:message for="nome" showDetail="true" />
				<p:outputLabel value="Cognome" />
				<p:inputText id="cognome" value="#{utenteBean.cognome}"
					required="true" requiredMessage="Campo Coglione necessario">
				</p:inputText>
				<p:message for="cognome" />
				<p:outputLabel value="Indirizzo" />
				<p:inputText id="indirizzo" value="#{utenteBean.indirizzo}"
					required="true" requiredMessage="Campo Indirizzo necessario">
				</p:inputText>
				<p:message for="indirizzo" />
				<p:outputLabel value="Data" />
				<p:calendar id="calendar" value="#{utenteBean.data}"
					pattern="dd/MM/yyyy" mask="true">
					<!-- 					<f:convertDateTime pattern="dd/MM/yyyy"/> -->
				</p:calendar>

				<p:message for="calendar" />
				<p:outputLabel value="Sesso" />
				<p:selectOneMenu id="gender" value="#{utenteBean.sesso}">
					<f:selectItem itemValue="Maschio" itemLabel="Maschio" />
					<f:selectItem itemValue="Femmina" itemLabel="Femmina" />
					<f:selectItem itemValue="Dubbio" itemLabel="Dubbio" />
				</p:selectOneMenu>
				<p:message for="gender" />
				<p:outputLabel value="Autocomplete"/>
				<p:autoComplete id="testo" value="#{utenteBean.testo}" completeMethod="#{utenteBean.complete}" />
 				<p:message for="testo"/>
				
				<p:commandButton value="Insert user" process="@form"
					update="utentePanel,panelTable,growl"
					actionListener="#{utenteBean.aggiungi}" validateClient="true" />
				<p:commandButton value="Show modal panel" type="button"
					onclick="PF('dlg2').show();" />

				<p:dialog header="Datatable modal" id="modalPanel" widgetVar="dlg2"
					modal="true" width="400" height="400">
					<p:dataTable var="utente" value="#{utenteBean.lstUtenti}">
						<p:column headerText="Nome">
							<h:outputText value="#{utente.nome}" />
						</p:column>
						<p:column headerText="Cognome">
							<h:outputText value="#{utente.cognome}" />
						</p:column>
						<p:column headerText="Indirizzo">
							<h:outputText value="#{utente.indirizzo}" />
						</p:column>
						<p:column headerText="Sesso">
							<h:outputText value="#{utente.sesso}" />
						</p:column>
						<p:column headerText="Data">
							<h:outputText value="#{utente.data}">
								<f:convertDateTime pattern="dd/MM/yyyy" />
							</h:outputText>
						</p:column>
					</p:dataTable>
					
				</p:dialog>
				<a href="paginadata.xhtml">Filter table</a>

			</p:panelGrid>



		</p:panel>

		<p:panel>
			<p:dataTable id="panelTable" var="utente"
				value="#{utenteBean.lstUtenti}" rows="5" paginator="true"
				paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
				rowsPerPageTemplate="5,10,15">
				<p:column headerText="Nome" sortBy="#{utente.nome}">
					<h:outputText value="#{utente.nome}" />
				</p:column>
				<p:column headerText="Cognome" sortBy="#{utente.cognome}">
					<h:outputText value="#{utente.cognome}" />
				</p:column>
				<p:column headerText="Indirizzo" sortBy="#{utente.indirizzo}">
					<h:outputText value="#{utente.indirizzo}" />
				</p:column>
				<p:column headerText="Sesso" sortBy="#{utente.sesso}">
					<h:outputText value="#{utente.sesso}" />
				</p:column>
				<p:column headerText="Data">
					<h:outputText value="#{utente.data}">
						<f:convertDateTime pattern="dd/MM/yyyy" />
					</h:outputText>
				</p:column>
			</p:dataTable>
		</p:panel>

	</h:form>

</h:body>
</html>
