<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:panel menuTitle="Registrazione utente">
		<p:panelGrid columns="3" style="align:center">
			<p:outputLabel value="Nome"/>
			<p:inputText id="nome" 
			value="#{utenteBeanRegistrazione.nome}"
			required="true"
			requiredMessage="Campo nome obbligatorio!"/>
			<p:message for="nome"/>
			<p:outputLabel value="Cognome"/>
			<p:inputText id="cognome" 
			value="#{utenteBeanRegistrazione.cognome}"
			required="true"
			requiredMessage="Campo cognome obbligatorio!"
			/>
			<p:message for="cognome"/>
			<p:outputLabel value="Email"/>
			<p:inputText
				id="email"
				value="#{utenteBeanRegistrazione.email}"
				required="true"
				requiredMessage="Campo email obbligatorio"
			/>
			<p:message for="email"/>
			<p:outputLabel value="Password"/>
			<p:inputText 
				id="password"
				value="#{utenteBeanRegistrazione.password}"
				required="true"
				requiredMessage="Campo password obbligatorio"
			/>
			<p:message for="password"/>
			<p:outputLabel value="Conferma Password"/>
			<p:inputText 
				id="confermaPassword"
				required="true"
				requiredMessage="Campo conferma password obbligatorio"
				value="#{utenteBeanRegistrazione.confermaPassword}"/>
			<p:message for="confermaPassword"/>
			<p:commandButton value="Registrami"/>
			
			
		
		</p:panelGrid>
	
	
	</p:panel>

</h:body>


</html>