<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" />
	<h:form>
		<p:panel id="panelRegistration" menuTitle="Registrazione utente">
			<p:panelGrid columns="3" style="align:center">
				<p:outputLabel value="Nome" />
				<p:inputText id="nome" value="#{utenteBeanRegistrazione.nome}"
					required="true" requiredMessage="Campo nome obbligatorio!" />
				<p:message for="nome" />
				<p:outputLabel value="Cognome" />
				<p:inputText id="cognome" value="#{utenteBeanRegistrazione.cognome}"
					required="true" requiredMessage="Campo cognome obbligatorio!" />
				<p:message for="cognome" />
				<p:outputLabel value="Email" />
				<p:inputText id="email" value="#{utenteBeanRegistrazione.email}"
					required="true" requiredMessage="Campo email obbligatorio"
					validatorMessage="Mail non conforme">
					<f:validateRegex
						pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />

				</p:inputText>
				<p:message for="email" />
				<p:outputLabel value="Password" />
				<p:password id="password" match="confermaPassword"
					value="#{utenteBeanRegistrazione.password}" required="true"
					requiredMessage="Campo password obbligatorio"
					validatorMessage="Errore conferma password" />
				<p:message for="password" />
				<p:outputLabel value="Conferma Password" />
				<p:password id="confermaPassword" required="true" match="password"
					requiredMessage="Campo conferma password obbligatorio"
					value="#{utenteBeanRegistrazione.password}" />
				<p:message for="confermaPassword" />
				<p:commandButton value="Registrami" process="@form"
					update="panelRegistration, growl" action="loginemail" />



			</p:panelGrid>


		</p:panel>
	</h:form>

</h:body>


</html>