<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>

	<h:form id="formRemote">
		<p:remoteCommand name="rc" update="messaggio,campo"
			actionListener="#{remoteCommandView.execute}" />
		<p:inputText id="campo" value="#{remoteCommandView.campo}">
			<p:ajax  update="messaggio"  event="keyup" />
		</p:inputText>
		<p:outputLabel id="messaggio" value="#{remoteCommandView.campo}" />

		<input type="button" value="bottone"  onclick="rc()"/>


	</h:form>


</h:body>
</html>