<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" showDetail="true" />
	<p:tabView>
		<p:tab title="Vincenzo Nibali">
			<p:panelGrid columns="1">
				<p:outputLabel>
				 Vincenzo Nibali (Messina, 14 novembre 1984) è un ciclista su strada italiano che corre per l'Astana Pro Team.
				 Scalatore, passista-scalatore, discesista e corridore da corse a tappe, è professionista dal 2005, ed è uno dei sei ciclisti[3] 
				 (il secondo italiano dopo Felice Gimondi) ad aver conquistato almeno un'edizione di tutti i tre Grandi Giri, avendo vinto la Vuelta a España 2010, il Giro d'Italia 2013
				  e il Tour de France 2014. Si è aggiudicato anche il Giro di Lombardia 2015.
					Fin da dilettante è stato soprannominato "Lo Squalo dello Stretto"[4] o 
					più semplicemente Lo Squalo[5], per il suo modo di correre sempre all'attacco e per le sue origini messinesi.[6] Ha un fratello minore, Antonio, anche lui ciclista professionista
				 </p:outputLabel>

			</p:panelGrid>


		</p:tab>
		<p:tab title="Fabio Aru">
			<p:panelGrid columns="1">
				<p:outputLabel>
				Fabio Aru (San Gavino Monreale, 3 luglio 1990) è un ciclista su strada italiano che corre per il team Astana.
				Professionista dal 2012, ha caratteristiche di scalatore e corridore da corse a tappe. Nel 2015 ha vinto la Vuelta a España, suo primo Grande Giro in carriera, 
				ed è salito sul podio finale del Giro d'Italia nel 2014 e nel 2015. In carriera ha vinto tre tappe al Giro d'Italia e due alla Vuelta a España. È soprannominato "Il cavaliere dei Quattro Mori".
				È il primo ciclista sardo della storia ad aver indossato la maglia rosa	 
				</p:outputLabel>

			</p:panelGrid>


		</p:tab>

	</p:tabView>
	<h:form>
	<p:tabView dynamic="true" effect="blind" effectDuration="1000">
		<p:ajax event="tabChange" listener="#{tabviewBean.change}"/>
		<p:tab id="nibali" title="Vincenzo Nibali">
			<p:panelGrid columns="2">
				<p:graphicImage value="http://static.blastingnews.com/media/photogallery/2015/8/19/main/vincenzo-nibali-capitano-dell-astana_400125.jpg">
				
				</p:graphicImage>
				<p:outputLabel>
				 Vincenzo Nibali (Messina, 14 novembre 1984) è un ciclista su strada italiano che corre per l'Astana Pro Team.
				 Scalatore, passista-scalatore, discesista e corridore da corse a tappe, è professionista dal 2005, ed è uno dei sei ciclisti[3] 
				 (il secondo italiano dopo Felice Gimondi) ad aver conquistato almeno un'edizione di tutti i tre Grandi Giri, avendo vinto la Vuelta a España 2010, il Giro d'Italia 2013
				  e il Tour de France 2014. Si è aggiudicato anche il Giro di Lombardia 2015.
					Fin da dilettante è stato soprannominato "Lo Squalo dello Stretto"[4] o 
					più semplicemente Lo Squalo[5], per il suo modo di correre sempre all'attacco e per le sue origini messinesi.[6] Ha un fratello minore, Antonio, anche lui ciclista professionista
				 </p:outputLabel>

			</p:panelGrid>


		</p:tab>
		<p:tab id="aru" title="Fabio Aru">
			<p:panelGrid columns="2">
				<p:graphicImage value="http://lightstorage.ecodibergamo.it/mediaon/cms.newecodibergamo/storage/site_media/media/photologue/2015/9/13/photos/cache/fabio-aru-vince-la-vuelta2015_aa9a9172-5a57-11e5-9384-6641936e4941_700_455_new_square_small.jpg">
				</p:graphicImage>

					<p:outputLabel>
				Fabio Aru (San Gavino Monreale, 3 luglio 1990) è un ciclista su strada italiano che corre per il team Astana.
				Professionista dal 2012, ha caratteristiche di scalatore e corridore da corse a tappe. Nel 2015 ha vinto la Vuelta a España, suo primo Grande Giro in carriera, 
				ed è salito sul podio finale del Giro d'Italia nel 2014 e nel 2015. In carriera ha vinto tre tappe al Giro d'Italia e due alla Vuelta a España. È soprannominato "Il cavaliere dei Quattro Mori".
				È il primo ciclista sardo della storia ad aver indossato la maglia rosa	 
				</p:outputLabel>
			</p:panelGrid>


		</p:tab>


	</p:tabView>
	</h:form>


</h:body>
</html>