<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<p:growl id="growl" showDetail="true" />

	<p:tabView dynamic="true" effect="blind" effectDuration="1000">

		<p:tab title="Insert item">
			<h:form id="formAdd">
				<p:panelGrid column="2">
					<p:inputText value="#{addBean.item}" required="true" id="item"
						requiredMessage="Item mandatory!" />
					<p:commandButton value="Insert item"
						actionListener="#{addBean.addInsert}" process="@form"
						update="@form, formAdd:item" />
				</p:panelGrid>
			</h:form>
		</p:tab>
		<p:tab title="Search item">
			<h:form id="form">
				<p:panelGrid columns="1">
					<p:inputText value="#{searchBean.search}" id="field"
						required="true" requiredMessage="Campo obbligatorio" />
					<p:commandButton value="Search item" process="@form"
						update="field, ripeti"
						actionListener="#{searchBean.ricerca}" />
					<ol>
						<p:panel id="ripeti">
							<ui:repeat var="item" value="#{searchBean.lstFilter}">
								<li><p:outputLabel value="#{item}" /></li>
							</ui:repeat>
						</p:panel>
					</ol>


				</p:panelGrid>

			</h:form>
		</p:tab>


	</p:tabView>


</h:body>
</html>