<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>
	<h:form>
		<p:panel id="basic" header="accettazione">
			<h:panelGrid columns="1">
				<h:outputLabel value="accetti di proseguire?"/>
				<p:selectBooleanCheckbox value="#{navigationBean.accettazione}">
					<p:ajax event="change" />
		        </p:selectBooleanCheckbox>
				 <p:commandButton action="#{navigationBean.vai}" value="vai" />
				 <p:commandButton action="#{navigationBean.vaiCondizionato}" value="vai condizionato" />
				 <p:commandButton action="vai" value="vai cablato" />
			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>