<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>

	<h:form>
		<p:panel header="messaggi">
			<li><p:outputLabel value="#{msg.message}" /></li>
			<li><p:outputLabel value="#{msg['message.test1']}" /></li>
			<li><p:outputLabel value="#{msg['message.test2']}" /></li>
			<li><p:outputLabel value="#{msg['message.test2']}" escape="false" /></li>
			<li><p:outputLabel value="#{msg['message.test3']}" /></li>
			<li><p:outputLabel value="#{msg['message.test3']}" escape="false" /></li>
			<li><h:outputFormat value="#{msg['message.param1']}">
					<f:param value="param0" />
				</h:outputFormat></li>
			<li><h:outputFormat value="#{msg['message.param2']}">
					<f:param value="param0" />
					<f:param value="param1" />
				</h:outputFormat></li>
		</p:panel>
	</h:form>
</h:body>
</html>



