<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<h:outputScript name="jsf.js" library="javax.faces" target="head" />
</h:head>
<h:body>

	<h:form>
		<p:panel header="page3">
			<h:panelGrid columns="1">
				<p:commandButton action="page1" value="vai a page1.xhtml" />
				<p:commandButton action="page2" value="vai a page2.xhtml" />
				<p:outputLabel value="page3" />
			</h:panelGrid>
		</p:panel>
	</h:form>
</h:body>
</html>





